html, body {
	height: 100%;
	width: 100%;
	margin: 0;
}

/*Pages
......................................................................*/
.page-1 {
	min-width: 100%;
	min-height: 100%;
	background-color: #fafafa;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

.page-2 {
	min-width: 100%;
	min-height: 100%;
	background-color: #fafafa;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

/*Main content
......................................................................*/

.main-cont {
	padding-left: 5%;
	padding-top: 15%;
	font-size: large;
/*  position: absolute;
    margin: auto 0;
    left: 10%;
    top: 25%;
    z-index: 1;*/
}

.main-h {
	font-size: -webkit-xxx-large;
}

.main-p {
	font-size: xx-large;
}

.main-img {
	padding-top: 30%;
/*	position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;*/
}

.row-but {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 10%;
}

.but-div {
	font-size: large;
	width: 200px;
	text-align: center;
}

.but-p {
	border: 1px solid grey;
	border-radius: 1px;
}


/*....................................................................*/
/*CONTENT*/

.first-content {
	padding-top: 10px;
}

.second-content {
	padding-left: 4%;
	padding-right: 4%;
	padding-top: 50px;
	padding-bottom: 50px;
	color: #444444;
	font-weight: 300;
}

.content-left {
	padding-left: 20%;
	padding-top: 2%;
}

.content-right {
	padding-right: 20%;
	padding-top: 5%;
}

.tit {
	text-align: center;
	color: #333333;
	padding-bottom: 20px;
}

.mini-tit {
	display: block;
	padding-top: 40px;
	font-weight: 500;
	color: #3e3e3e;
}

/*Job_content
..................................................................*/

.job {
	margin-bottom: 0.7rem;
	color: #353535;
	font-weight: 500;
}

.name {
	font-size: 1.4em;
}

.post {
	font-size: 1.2em;
}

.duration {
	font-size: 1em;
	color: #7f7786;
}

.job_title_1 {
	font-size: 1.2em;
	margin-top: 2rem;
	color: #353535;
	font-weight: 500;
}

.job_title_2 {
	margin-bottom: 0.7rem;
	color: #353535;
	font-weight: 500;
}

.job_content {
	padding-bottom: 15px;
	font-weight: 300;
	color: #0a0a0a;
}

.job_logo_sm {
	max-width: 40%;
	box-sizing: border-box;
}

.job_logo {
	max-width: 95%;
	box-sizing: border-box;
}

/*MOBILE
...............................................................*/
@media (max-width: 550px) {
	.main-img {padding-top: 0px;}
	.page-2 {display: none;}
	.page-2-mobile {
		min-width: 100%;
		min-height: 100%;
		background-color: #fafafa;
		font-family: 'Roboto', sans-serif;
		font-weight: 300;
	}
}

.img-mob {
	text-align: center;
}

.page-2-mobile {
	display: none;
}