html, body {
	height: 100%;
	width: 100%;
	margin: 0;
}


/*Pages
......................................................................*/
.page-1 {
	background-color: #ffffff;
	font-weight: 300;
	padding-top: 5%;
}

/*....................................................................*/


.main_tittle {
	text-align: center;
}

.main_tittle h1 {
	font-weight: 400;
    background: -webkit-linear-gradient(15deg, #e9984a, #9957d1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sub_tittle {
	text-align: center;
	font-weight: 100;
}

.main-buttons {
	text-align: center;
	padding-left: 35%;
	padding-right: 35%;
}

.main-buttons a {
	color: #8c918e;
	text-decoration: none;
	font-weight: 400;
	padding: 0px 15px 0px 15px;
}

.main-buttons a:hover {
	color: black;
}

.bottom {
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 20px;
	background-color: #28282a;
	color: white;
}

.bottom a {
	color: #8c918e;
	text-decoration: none;
	font-weight: 400;
}

.bottom a:hover {
	color: white;
}

.bottom-row {
	padding-top: 10px;
}


/*....................................................................*/

.projects {
	padding-top: 25px;
}

.projects-line-1 {
	height: 150px;
}

.row-project {
	margin-bottom: 3px;
	position: relative;
}

.project-img {
	width: 100%;
    opacity: 1;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.project-text {
	opacity: 0;
    position: absolute;
    transition: .5s ease;
    top: 8%;
    left: 15%;
    transform: translate(-5%, -5%);
    -ms-transform: translate(-5%, -5%);
    text-align: center;
    color: black;
    display: none;
    line-height: 1.8rem;
}

.row-project:hover .project-text {
	opacity: 1;
	display: block;
}

.row-project:hover .project-img {
	opacity: 0.2;
	-ms-transform: scale(1.02); /* IE 9 */
  -webkit-transform: scale(1.02); /* Safari 3-8 */
  transform: scale(1.02); 
}

.project-text h5 {
	margin-bottom: 0.2rem;
	font-size: 1.8rem;
	font-weight: 400;
	line-height: 1.8rem;
}

.col-projects {
	margin-left: 1%;
}

@media (min-width: 350px) {
	.four.col.col-projects {width: 32.0666666667%;}
	.col-projects {margin-left: 1%;}
/*	.row-project {margin-bottom: -1px;}*/
}

@media (max-width: 700px) {
	.project-text {font-size: 1.2rem; line-height: 1.4rem;}
	.project-text h5 {margin-bottom: 0rem;font-size: 1.35rem; line-height: 1.4rem;}
}

@media (max-width: 550px) {
	.row-project {margin-bottom: -1%;}
}
